<!DOCTYPE html>
<html>
<head>
  <title>Visitor Management System</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
 <body>
 <div class="container">
  <div class="row">
    <h1> Welcome to Lirio de los Valles Visitors Management </h1>
  </div>
  <div class="supporting">
    <div class="container">
      <div class="col">
        <ul><%= link_to "Add Visitor", new_visitors_path, class: "btn-default" %></ul>
        <ul><%= link_to "View All Visitors", visitors_path, class: "btn-default" %></ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="footer">
    <div class="container">
      <p>&copy; Lirio de los Valles 2015</p>
    </div>
  </div>
</div>
<%= yield %>
 </div>
 </body>
</html>
